<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="basictestng.Sample4"/>
      <class name="basictestng.Sample3"/>
      <class name="basictestng.Sample2"/>
      <class name="basictestng.Sample1"/>
      <class name="basictestng.Sample5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
